<%= stylesheet_link_tag "custom.css" %>
<% if user_signed_in? %>
	<div class = "home_slide">
		<%= render :partial =>  'shared/slideshow' %>
        </div>

<%end%>





































