.title {
  color: #333333;
  font-family:SimSun;
  font-weight: 800;

  position:absolute;
  top: 80px;
  left: 100px;
}

.title_first {
  font-size: 48px;
  display:inline;
}

.title_rest {
  font-size: 36px;
  display:inline;
}

.search_bar{
  color: #999999;
  font-family:SimSun;
  font-size: 18px;

  position:absolute;
  top: 90px;
  right: 50px;
  
  cursor: text; 
  width: 475px;

  border-width: 0px;
}

.search_textbox{
  height:32px;
  width:300px;
}

.search_submit{
  height: 32px;
  width: 75px;
  color: #888888;
  border-width: 0px;
}

.link{
  color: #333333;
}

table.hero{
  font-family:SimSun;
  font-size: 30px;

  position: absolute;
  top: 200px;
  left: 0px;

  width:100%;

  
}

th.hero{
  color: #333333;
  font-weight: 800;
}

td.hero{
  color: #333333;
  font-weight: 100;
}


tr.hero{
  border-bottom-width: 5px; 
  border-bottom-color: #CCCCCC;
  border-bottom-style: solid;
  
  
  height: 60px;
  color: #333333;
  background-color:expression((this.sectionRowIndex%2==0)?"#BBBBBB":"#FFFFFF")
}

.hero_img{
  border-radius: 50%;
  border-width: 4px;
  border-color: #EEEEEE;
  border-style: solid;
}

.page_select{
  position: absolute;
  top: 150px;
}

