
.navbar_login {
  z-index: 100; 
  background-color:  #333333;
  border-bottom-color: #DDDDDD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  font-family:SimSun;
  
  width: 100%;
  height: 60px;
  line-height: 55px;
  
  position: fixed;
  top: 0px;
  left: 0px;
}


.navbar {
  z-index: 100; 
  background-color:  #333333;
  border-bottom-color: #DDDDDD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  font-family:SimSun;
  
  width: 100%;
  height: 60px;
  line-height: 55px;
  
  position: fixed;
  top: 0px;
  left: 0px;

}



.navbar_text{
  position: relative;
  color: #DDDDDD;
  font-size: 25px;
  font-family:SimSun;

  margin-right:15px;
  margin-left:15px;
  display: inline;
  text-decoration:none;

}

.navbar_text:hover{
  position: relative;
  color: #DDDDDD;
  font-size: 25px;
  font-family:SimSun;
  text-decoration:none;
  margin-right:15px;
  margin-left:15px;

}

.navbar_text_right{
  position: relative;
  color: #DDDDDD;
  font-size: 25px;
  font-family:SimSun;
  float:right;
  margin-right:15px;
  margin-left:15px;
}

.navbar_img_right{
  position: relative;
  float:right;
  border-radius: 50%;
  border-width: 4px;
  border-color: #EEEEEE;
  border-style: solid;


}

#navbar_custom_id ul li{
  display:inline;
  margin-right:10px;
}




  
